body {
  overflow: visible;
  // background-image: url("../../assets/images/corkboard.jpg"); //コルクボード風
  background-image: url("../../assets/images/notepad.jpg");
  background-color:rgba(255,255,255,0.2);
  // background-color:rgba(255,255,255,0.3); //コルクボード風
  background-blend-mode:lighten;
  background-size:cover;
}

.notice,
.alert {
  display: none;
}

// header
.header {
  background: #8e9393;
  // background-image: url("../../assets/images/wood3.png"); //コルクボード風
  padding: 10px;
  .nav {
    .header_menu {
      display: flex;
      width: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      align-items: center;
      li {
        list-style: none;
        color: #fff;
        a {
          color: #fff;
        }
      }
      &_title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-weight: bold;
      }
      &_inner {
        display: flex;
        padding: 0;
        align-items: center;
        .listNew {
          &:after {
            font-family: "Font Awesome 5 Free";
            content: "\f044";
            display: inline-block;
            margin-left: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

// button
.submitBtn {
  background: #29b744;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 90px;
  transition: opacity .5s;
  cursor: pointer;
  &:hover {
    opacity: .6;
  }
}

//userpage_background
.userPage {
  background-image: url("../../assets/images/river.jpg");
  background-color:rgba(255,255,255,0.2);
  width: 100%;
  min-height: 100vh;
  padding: 5vh 0;
  background-blend-mode:lighten;
  background-size:cover;
}

// sign_up
.signupPage {
  margin-top: 10vh;
  .titleArea {
    text-align: center;
    h1 {font-size: 2rem;}
  }
  .signupForm {
    .form-group {
      margin: 0 auto 1.5rem auto;
      max-width: 500px;
      .form-control {
        background: #f6f8fa;
      }
    }
  }
  .submitBtn {
    background: #29b744;
    color: #fff;
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity .5s;
    &:hover {
      opacity: .8;
    }
  }
}

// devise_shared_links
.acountPage_link {
  & > a {
    color: #0075c1;
  }
}


// sign_in
.signinPage {
  margin-top: 10vh;
  .title {
    text-align: center;
  }
  .new_user {
    .form-group {
      max-width: 500px;
      margin: 0 auto 1rem;
      .form-control {
        background: #f6f8fa;
      }
    }
  }
  .loginBtn {
    padding: 12px;
    width: 200px;
    border-radius: 21px;
    background: #29b744;
    color: #fff;
    text-align: center;
    border: none;
    margin-top: 20px;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}